
/*pc normal*/
body{
    background:linear-gradient(to right,#027dcf,#070707);
}
.burbuja{
    border-radius:50%;
    background: rgb(165, 3, 79);
    opacity:.5;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width:20px;
    height:20px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width:25px;
    height:25px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbuja:nth-child(3){
    width:10px;
    height:10px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 4s;
}

.burbuja:nth-child(4){
    width:30px;
    height:30px;
    left: 90%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width:70px;
    height:70px;
    left:65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 4s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width:40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .5;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
    nav{
        margin:auto;
        font-size:1.4rem;
        margin-top:0px;
        text-shadow: 2 2 20px;/* rgb(219, 32, 32); */
        box-shadow: 20px 2px 15px rgb(6, 173, 81);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .menu-horizontal{
        list-style:none;
        display:flex;
        justify-content:space-around;
        text-decoration:underline;  
    }
    .menu-horizontal > li:hover{ 
        background:linear-gradient(to right,rgba(2, 44, 21, 0.2),rgb(224, 230, 227));
        text-decoration:underline;
        transition:1.5s;
    }
    .menu-horizontal li a{
        color: goldenrod;
        text-decoration:none;
    }  
    .foto-icono{
        display:flex;
        position: absolute;
        left:43%;
        top:40%;
        height:10vw;
    }
    .container-reproductor{
        display:flex;
        flex-direction:row;
        position: absolute;
        height:40%;
        top:35%;
        left:48%;
        width:0%;
        justify-content: center;
    }
    .iframe{
        padding:20px;
        flex-basis:450px;
        flex-shrink:3;
    }
    .icono-google-play{
        padding: 20px;
        flex-basis:20px;
        flex-shrink:1; 
        position: absolute;
        left:45%;
        top:75%;  
    }
    .redes-sociales{
        display: flex;
        flex-direction:row;
    }
    .icono-desplazamiento-ig{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:3vw;
        top:15vh;
        padding:20px;
    }
    .icono-desplazamiento-tw{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:3vw;
        padding:20px;
        top:35vh;
    }
    .icono-desplazamiento-face{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:3vw;
        padding:20px;
        top:50vh;
    }
    .icono-desplazamiento-wsp{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:3vw;
        padding:20px;
        top:65vh;
    }
    .bxl-whatsapp-square{
        
    }
    .icono-desplazamiento-ig-ubicacion{
        flex-basis:40px;
        flex-shrink:3; 
        height: auto;
        position: absolute;
        right:0vw;
        top:95vh;
    }
    .icono-desplazamiento-tw-ubicacion{
        flex-basis:40px;
        flex-shrink:3; 
        height: auto;
        position: absolute;
        left:55vw;
        top:95vh;
    }
    .icono-desplazamiento-face-ubicacion{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        left:25vw;
        top:95vh;
    }
    .icono-desplazamiento-wsp-ubicacion{
        flex-basis:40px;
        flex-shrink:3; 
        height: auto;
        position: absolute;
        left:0vw;
        top:95vh;
    }
    .mapa{
        display: flex;
        position: absolute;
        top:10vh;
        left:0vw;
        width:99.7%;
        height:70vh;
    }
    .titulos{
        color: rgb(10, 182, 87);
        position: absolute;
        font-size:2rem;
        font-family:'Open Sans',sans-serif;
        text-align:center;
        transition:none;
        top:20vh;
        left:33%;
    }
    .titulos:hover{  
        display: none;
    }
    .titulos::first-letter{    
        font-size:3rem;
        color: rgb(66, 130, 220);
    }
    .article{
        width:80%;
    }
    .parrafos{
        color: rgb(9, 199, 94);
        position: absolute;
        font-size:1.5rem;
        font-family:'Open Sans',sans-serif;
        top:35vh;
        left:10%;
        box-shadow: none;
        transition:none;
    }
    .parrafos:hover{
        display: none;
        
    }
    .parrafos::first-letter{
        position: absolute;
        color: rgb(1, 57, 1);
        font-size:3rem;
    }
    .icono-desplazamiento-ig-nosotros{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:0vw;
        top:90vh;
    }
    .icono-desplazamiento-tw-nosotros{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        left:55vw;
        top:90vh;
    }
    .icono-desplazamiento-face-nosotros{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        left:26vw;
        top:90vh;
    }
    .icono-desplazamiento-wsp-nosotros{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        left:0vw;
        top:90vh;
    }