
/*pc normal*/
body{
    background:linear-gradient(to right,#027dcf,#070707);
}
.burbuja{
    border-radius:50%;
    background: rgb(165, 3, 79);
    opacity:.5;
    position: absolute;
    bottom: -150;
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width:20px;
    height:20px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width:25px;
    height:25px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbuja:nth-child(3){
    width:10px;
    height:10px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 4s;
}

.burbuja:nth-child(4){
    width:30px;
    height:30px;
    left: 90%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width:70px;
    height:70px;
    left:65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 4s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width:40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .5;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
    nav{
        margin:auto;
        font-size:1.6rem;
        margin-top:0px;
        text-shadow: 2 2 20px;/* rgb(219, 32, 32); */
        box-shadow: 20px 2px 15px rgb(6, 173, 81);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .menu-horizontal{
        list-style:none;
        display:flex;
        justify-content:space-around;
        text-decoration:underline;  
    }
    .menu-horizontal > li:hover{ 
        background:linear-gradient(to right,rgba(2, 44, 21, 0.2),rgb(224, 230, 227));
        text-decoration:underline;
        transition:1.5s;
    }
    .menu-horizontal li a{
        color: goldenrod;
        text-decoration:none;
    }  
    .foto-icono{
        display:flex;
        position: absolute;
        left:43%;
        top:40%;
        height:10vw;
    }
    .container-reproductor{
        display:flex;
        flex-direction:row;
        position: absolute;
        height:40%;
        top:35%;
        left:48%;
        width:0%;
        justify-content: center;
    }
    .iframe{
        padding:20px;
        flex-basis:450px;
        flex-shrink:3;
    }
    .icono-google-play{
        padding: 20px;
        flex-basis:20px;
        flex-shrink:1; 
        position: absolute;
        left:45%;
        top:75%;  
    }
    .redes-sociales{
        display: flex;
        flex-direction:row;
    }
    .icono-desplazamiento-ig{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:2vw;
        padding:20px;
        margin-bottom: 20px;
    }
    .icono-desplazamiento-tw{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:2vw;
        padding:20px;
        margin-bottom: 20px;
        top:30vh;
    }
    .icono-desplazamiento-face{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:2vw;
        padding:20px;
        margin-bottom: 20px;
        top:45vh;
    }
    .icono-desplazamiento-wsp{
        flex-basis:40px;
        flex-shrink:3; 
        position: absolute;
        right:2vw;
        padding:20px;
        margin-bottom: 20px;
        top:60vh;
    }
    .icono-desplazamiento-ig-ubicacion{
        box-shadow: 6px 2px 16px rgba(224, 28, 28, 0.7);
        border-radius:50px;
        position:fixed;
        top:8vw;
        height:5vw;
        right:1vw;
    }
    .icono-desplazamiento-ig-nosotros{
        box-shadow: 6px 2px 16px rgba(224, 28, 28, 0.7);
        border-radius:50px;
        position:fixed;
        top:8vw;
        right:1vw;
    }

    .icono-desplazamiento-tw-ubicacion{
        box-shadow: 6px 2px 16px rgba(83, 132, 196, 0.7);
        border-radius:50px;
        position:fixed;
        top:15vw;
        height:5vw;
        right:1vw;
    }
    .icono-desplazamiento-tw-nosotros{
        box-shadow: 6px 2px 16px rgba(83, 132, 196, 0.7);
        border-radius:50px;
        position:fixed;
        top:15vw;
        right:1vw;
    }
    .icono-desplazamiento-face-ubicacion{
        box-shadow: 6px 2px 6px rgba(67, 112, 226, 0.7);
        border-radius:50px;
        position:fixed;
        top:25vw;
        right:1vw;
    }
    .icono-desplazamiento-face-nosotros{
        box-shadow: 6px 2px 6px rgba(67, 112, 226, 0.7);
        border-radius:50px;
        position:fixed;
        top:25vw;
        right:1vw;
    }
    .icono-desplazamiento-wsp-ubicacion{
        box-shadow: 6px 2px 16px rgba(6, 116, 55, 0.7);
        border-radius:50px;
        position:fixed;
        top:35vw;
        right:1vw;
    }
    .icono-desplazamiento-wsp-nosotros{
        box-shadow: 6px 2px 16px rgba(6, 116, 55, 0.7);
        border-radius:50px;
        position:fixed;
        top:35vw;
        right:1vw;
    }
    .titulos{
        color: rgb(10, 182, 87);
        position: absolute;
        font-size:2.5vw;
        font-family:'Open Sans',sans-serif;
        text-align:center;
        transition:1s;
    }
    .titulos:hover{  
        color: rgb(36, 137, 83);
        font-size:3.5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .titulos::first-letter{    
        font-size:4.5vw;
        color: green;
    }
    .parrafos{
        color: rgb(9, 199, 94);
        position: absolute;
        font-size:1.5vw;
        font-family:'Open Sans',sans-serif;
        top:20vw;
        box-shadow: #17a2b8;
        transition:1s;
    }
    .parrafos:hover{
        color: #4f9;
        position: absolute;
        font-size:2vw;
        font-family:'Open Sans',sans-serif;
        text-shadow: 0 0 20px rgb(56, 9, 9); 
        box-shadow: 0 0 25px rgb(2, 83, 40);
        
    }
    .parrafos::first-letter{
        position: absolute;
        color: rgb(1, 57, 1);
        font-size:4vw;
    }
    .mapa{
        display: flex;
        position: absolute;
        top:4vw;
        left:1vw;
        width:83vw;
        height:37vw;
    }