
/*pc normal*/
body{
    background-color: rgb(31, 31, 31);
}
    nav{
        margin:auto;
        font-size:2vw;
        margin-top:0px;
        text-shadow: 0 0 20px rgb(219, 32, 32); 
        box-shadow: 0 0 15px rgb(6, 173, 81);
    }
    .menu-horizontal{
        list-style:none;
        display:flex;
        justify-content:space-around;
        text-decoration:underline;  
    }
    .menu-horizontal > li:hover{
        background-color:#17a2b8;
        text-decoration:underline;
        transition:1.5s;
    }
    .menu-horizontal li a{
        color:white;
        text-decoration:none;
    }  
    .redes-sociales{
        display:flex;
        flex-direction:column;
        Align-items:center;
        Justify-content: space-between;
    }
    .icono-desplazamiento-ig{
        box-shadow: 6px 2px 16px rgba(224, 28, 28, 0.7);
        border-radius:20px;
        position:fixed;
        margin:25px;
        right:0vw;
        top:6vw;
    }
    .icono-desplazamiento-ig-ubicacion{
        position:fixed;
        top:8vw;
        width:-0vw;
        height:6vw;
        right:6vw;
    }
    .icono-desplazamiento-ig-nosotros{
        position:fixed;
        top:8vw;
        width:-0vw;
        height:6vw;
        right:6vw;
    }
    .icono-desplazamiento-tw{
        box-shadow: 6px 2px 16px rgba(83, 132, 196, 0.7);
        border-radius: 20px;
        position: fixed;
        margin:25px;
        right:0vw;
        top:12vw;
    }
    .icono-desplazamiento-tw-ubicacion{
        position:fixed;
        top:15vw;
        width:0vw;
        height:6vw;
        right:6vw;
    }
    .icono-desplazamiento-tw-nosotros{
        position:fixed;
        top:15vw;
        width:0vw;
        height:6vw;
        right:6vw;
    }
    .icono-desplazamiento-face{
        box-shadow: 6px 2px 16px rgba(67, 112, 226, 0.7);
        border-radius: 20px;
        position:fixed;
        margin:25px;
        right:0vw;
        top:18vw;
    }
    .icono-desplazamiento-face-ubicacion{
        position:fixed;
        top:25vw;
        width:2vw;
        height:2vw;
        right:4vw;
    }
    .icono-desplazamiento-face-nosotros{
        position:fixed;
        top:25vw;
        width:2vw;
        height:2vw;
        right:4vw;
    }
    .icono-desplazamiento-wsp{
        box-shadow: 6px 2px 16px rgba(6, 116, 55, 0.7);
        border-radius: 20px;
        position: fixed;
        margin:25px;
        right:0vw;
        top:25vw;
    }
    .icono-desplazamiento-wsp-ubicacion{
        position:fixed;
        top:35vw;
        width:0vw;
        height:6vw;
        right:5vw;
    }
    .icono-desplazamiento-wsp-nosotros{
        position:fixed;
        top:35vw;
        width:0vw;
        height:6vw;
        right:5vw;
    }
    .foto-icono{
        display:flex;
        position: absolute;
        left:43%;
        top:40%;
        height:10vw;
    }
    .reproductor{
        display:flex;
        position:absolute;
        top:10vw;
        left:40vw; 
        height:30vw;
    }
    #id-google{
        color: #28a745;
        position: absolute;
        top:-10vw;
        left:0vw;
    }
    .google2{
        display:flex;
        position:absolute;     
        top:50vw;
        left:48%;  
    }
    .titulos{
        color: rgb(10, 182, 87);
        position: absolute;
        font-size:2.5vw;
        font-family:'Open Sans',sans-serif;
        text-align:center;
        transition:1s;
    }
    .titulos:hover{  
        color: rgb(3, 97, 45);
        font-size:3.5vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .titulos::first-letter{    
        font-size:4.5vw;
        color: green;
    }
    .parrafos{
        color: rgb(9, 199, 94);
        position: absolute;
        font-size:1.5vw;
        font-family:'Open Sans',sans-serif;
        top:20vw;
        box-shadow: #17a2b8;
        transition:1s;
    }
    .parrafos:hover{
        color: #4f9;
        position: absolute;
        font-size:2vw;
        font-family:'Open Sans',sans-serif;
        text-shadow: 0 0 20px rgb(56, 9, 9); 
        box-shadow: 0 0 25px rgb(2, 83, 40);
        
    }
    .parrafos::first-letter{
        position: absolute;
        color: rgb(1, 57, 1);
        font-size:4vw;
    }
    .mapa{
        position: absolute;
        top:5vw;
        left:1vw;
        width:83vw;
        height:40vw;
    }
@media(min-width:600px) and (max-width:800px){
    nav{
        font-size:5vw;
    }
    .icono-desplazamiento-ig{
        top:15vw;
        right:-2vw;
    }
    .icono-desplazamiento-ig-ubicacion{
        position: absolute;
        top:20vw;
        width:-0vw;
        height:6vw;
        right:13vw;
    }
    .icono-desplazamiento-ig-nosotros{
        position: absolute;
        top:120px;
        width:-0vw;
        height:6vw;
        right:13vw;
    }
    .icono-desplazamiento-tw{
        right:-2vw; 
        top:30vw;
    }
    .icono-desplazamiento-tw-ubicacion{
        position: absolute;
        top:40vw;
        width:0vw;
        height:6vw;
        right:13vw;
    }
    .icono-desplazamiento-tw-nosotros{
        position: absolute;
        top:35vw;
        width:0vw;
        height:6vw;
        right:13vw;
    }
    .icono-desplazamiento-face{
        right:-2vw;
        top:42vw;
    }
    .icono-desplazamiento-face-ubicacion{
        position: absolute;
        top:65vw;
        width:2vw;
        height:2vw;
        right:11vw;
    }
    .icono-desplazamiento-face-nosotros{
        position: absolute;
        top:55vw;
        width:2vw;
        height:2vw;
        right:11vw;
    }
    .icono-desplazamiento-wsp{
        right:-2vw;
        top:54vw;
    }
    .icono-desplazamiento-wsp-ubicacion{
        position: absolute;
        top:90vw;
        width:0vw;
        height:6vw;
        right:11vw;
    }
    .icono-desplazamiento-wsp-nosotros{
        position: absolute;
        top:72vw;
        width:0vw;
        height:6vw;
        right:11vw;
    }
    .reproductor{
        display:flex;
        position:absolute;
        top:23vw;
        left:15%; 
        width:80%;
        height:80vw;
    }
    #id-google{
        font-size:3vw;
        display: flex;
        position: absolute;
        top:103vw;
        left:25%;
    }
    .google2{   
        
        display: block;
        top:110vw;
        left:30%;
        width:10vw;
        height:6vw; 
    }
    .mapa{
        position: absolute;
        top:12vw;
        left:1vw;
        width:83vw;
        height:81vw;
    }
    .titulos{
        color: rgb(10, 182, 87);
        position: absolute;
        font-size:6vw;
        font-family:'Open Sans',sans-serif;
        text-align:center;
        transition:1s;
    }
    .titulos::first-letter{    
        font-size:8vw;
        color: green;
    }
    .parrafos{
        color: rgb(9, 199, 94);
        display:inline;
        font-size:3vw;
        font-family:'Open Sans',sans-serif;
        top:50vw;
        box-shadow: #17a2b8;
        transition:1s;
        width:80vw;
    }
    .parrafos:hover{
        font-size:3.5vw;
        width:80vw;
    }
}
@media screen and (min-width:400px) and  (max-width:600px) {
    nav{
        font-size:5vw;
        margin-top:0px;
        width:90vw;
    }
    .reproductor{
        display:flex;
        position:absolute;
        top:30%;
        left:10%; 
        width:20%;
        height:70vw;
    }
    #id-google{
        font-size: 4vw;
        display: flex;
        position: absolute;
        top:115vw;
        left:18%;
    }
    .google2{   
        top:135vw;
        left:28%;
        width:10vw;
        height:6vw; 
    }
    .icono-desplazamiento-ig{
        top:66px;
        width:11vw;
        height:7vw;
        right:-3vw;
        margin-left:2vw;
    }
    .icono-desplazamiento-ig-ubicacion{
        position: absolute;
        top:92px;
        width:-0vw;
        height:6vw;
        right:15vw;
    }
    .icono-desplazamiento-ig-nosotros{
        position: absolute;
        top:95px;
        width:-0vw;
        height:6vw;
        right:15vw;
    }
    .icono-desplazamiento-tw{
        width:10vw;
        height:6vw;
        right:-2vw;
        margin-left:2vw;
        top:30vw;
    }
    .icono-desplazamiento-tw-ubicacion{
        position: absolute;
        top:50vw;
        width:0vw;
        height:6vw;
        right:15vw;
    }
    .icono-desplazamiento-tw-nosotros{
        position: absolute;
        top:50vw;
        width:0vw;
        height:6vw;
        right:15vw;
    }
    .icono-desplazamiento-face{
        width:10vw;
        height:6vw;
        right:-2vw;
        margin-left:2vw;
        top:45vw;
    }
    .icono-desplazamiento-face-ubicacion{
        position: absolute;
        top:85vw;
        width:2vw;
        height:2vw;
        right:13vw;
    }
    .icono-desplazamiento-face-nosotros{
        position: absolute;
        top:85vw;
        width:2vw;
        height:2vw;
        right:13vw;
    }
    .icono-desplazamiento-wsp{
        width:10vw;
        height:6vw;
        right:-4vw;
        margin-left:2vw;
        top:65vw;
    }
    .icono-desplazamiento-wsp-ubicacion{
        position: absolute;
        top:115vw;
        width:0vw;
        height:6vw;
        right:12vw;
    }
    .icono-desplazamiento-wsp-nosotros{
        position: absolute;
        top:115vw;
        width:0vw;
        height:6vw;
        right:12vw;
    }
    .mapa{
        position: absolute;
        top:15vw;
        left:1vw;
        width:81vw;
        height: 100vw;
    }    
    .titulos{
        color: rgb(10, 182, 87);
        position: absolute;
        font-size:6vw;
        font-family:'Open Sans',sans-serif;
        text-align:center;
        transition:1s;
    }
    .titulos::first-letter{    
        font-size:8vw;
        color: green;
    }
    .parrafos{
        color: rgb(9, 199, 94);
        display:inline;
        font-size:3vw;
        font-family:'Open Sans',sans-serif;
        top:55vw;
        box-shadow: #17a2b8;
        transition:1s;
        width:80vw;
    }
    .parrafos:hover{
        font-size:3.5vw;
        width:80vw;
    }
}
@media screen and (min-width:280px) and (max-width:400px){
    nav{
        font-size:5vw;
    }
    .menu-horizontal li a{
        display:block;
        color:white;
        padding:15px 20px 15px 10px;
        text-decoration:none;
    }  
    .reproductor{
        left: 0vw;
        top:25vw;
    }
    #id-google{
        font-size:5vw;
        top:120vw;
        left:22vw;
    }
    .google2{
        top:130vw;
        left:30vw;
    }
    .icono-desplazamiento-ig{
        position: absolute;
        top:90vw;
        left:2vw;
        width:13vw;
    }
    .icono-desplazamiento-wsp{
        position: absolute;
        top:93vw;
        left:75vw;
        width:13vw;
    }
    .icono-desplazamiento-face{
        position: absolute;
        top:90vw;
        left:25vw;
        width:13vw;
    }
    .icono-desplazamiento-tw{
        position: absolute;
        top:90vw;
        left:50vw;
        width:10vw;
    }
    .icono-desplazamiento-ig-ubicacion{
        position: absolute;
        top:135vw;
        left:2vw;
        width:13vw;
    }
    .icono-desplazamiento-wsp-ubicacion{
        position: absolute;
        top:138vw;
        left:75vw;
        width:13vw;
    }
    .icono-desplazamiento-face-ubicacion{
        position: absolute;
        top:135vw;
        left:25vw;
        width:13vw;
    }
    .icono-desplazamiento-tw-ubicacion{
        position: absolute;
        top:135vw;
        left:50vw;
        width:10vw;
    }
    .mapa{
        width:95vw;
        top:15vw;
        height:90vw;
    }
    .icono-desplazamiento-ig-nosotros{
        position: absolute;
        top:135vw;
        left:2vw;
        width:13vw;
    }
    .icono-desplazamiento-wsp-nosotros{
        position: absolute;
        top:138vw;
        left:75vw;
        width:13vw;
    }
    .icono-desplazamiento-face-nosotros{
        position: absolute;
        top:135vw;
        left:25vw;
        width:13vw;
    }
    .icono-desplazamiento-tw-nosotros{
        position: absolute;
        top:135vw;
        left:50vw;
        width:10vw;
    }
    .titulos{
        font-size:5vw;
    }
    .titulos:hover{ 
        font-size:8vw;
    }
    .titulos::first-letter{ 
        font-size:10vw;
    }
    .parrafos{
        top:45vw;
        font-size:4vw;
    }
    .parrafos:hover{
        font-size:4.5vw;
    }
    .parrafos::first-letter{
        font-size: 8vw;
    }
}